{% extends 'template.html' %}

{% block css %}
<link href="css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="banner-section banner-bg1">
    <div class="backcontainer first">
        <div>
            <div class="banner1 clicked"></div>
        </div>
        <div>
            <div class="banner2"></div>
        </div>
        <div>
            <div class="banner3"></div>
        </div>
    </div>
</div>

<section class="sales-section">
    <div class="best-product-contanier">
        <h3>WEEKLY BEST</h3>
        {% for item in bestProduct %}
        <div class="best-product-content hover-gray" onclick="location.href='/detail/{{item.pid}}'">
            <img src="/images/product/{{item.pid}}.jpg" />
            <div class="best-product-title">{{item.name}}</div>
            <div class="best-product-detail">
                <p>{{item.title}}</p>
                <p>{{item.titlePrefix}}</p>
                <p>￦{{item.priceStr}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="new-product-contanier">
        <h3>NEW ARRIVAL</h3>
        {% for item in newProduct %}
        <div class="new-product-content hover-gray" onclick="location.href='/detail/{{item.pid}}'">
            <img src="/images/product/{{item.pid}}.jpg" />
            <div class="new-product-title">{{item.name}}</div>
            <div class="new-product-detail">
                <p>{{item.title}}</p>
                <p>{{item.titlePrefix}}</p>
                <p>￦{{item.priceStr}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% include "aside.html"%}
{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/index.js"></script>
{% endblock %}


