{% extends 'template.html' %}

{% block css %}
<link href="/css/mypage.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="mypage-section">
    <div class="header">
        <h3> My page </h3>
    </div>
    <div class= information>
        <a>안녕하세요, 회원님의 등급은 </a><a class="color_rank">[일반]</a> <a>입니다.</a><br>
        <a> 회원정보를 수정하시려면 아래 버튼을 눌러주세요.</a><br><br>
        <button class="modify" onclick="location.href='/loginCheck'"> 회원정보 수정 </button>
    </div>
    <div class="content">
        <a class="title">입금 대기중인 내역</a>
        <table class="mypage-items-table">
            <tr>
                <td>
                    <a>이미지</a>
                </td>
                <td>
                    <a>상품 이름</a>
                </td>
                <td>
                    <a>가격</a>
                </td>
                <td></td>
            </tr>
            {% set totalPrice = 0 %}
            {% for item in items%}
            {% set totalPrice = totalPrice + item.price %}
            <tr>
                <td class="mypage-item-img">
                    <img src="/images/product/{{item.pid}}.jpg" />
                </td>
                <td>
                    <a class="item-name">{{item.name}}</a>
                </td>
                <td>
                    <a class="item-price">￦{{item.priceStr}}</a>
                </td>
                <td>
                    <button class="delete-buy-item" value="{{item.pid}}">구매 내역 삭제</button>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td style="text-align:right">
                    <a>총액</a>
                </td>
                <td>
                    <a class="item-price-all">￦{{totalPrice}}</a>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/mypage.js"></script>
{% endblock %}


