{% extends 'template.html' %}

{% block css %}
<link href="/css/post.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="post-section">
    <div class=pheader>
        <h3> {{boardName}} </h3>
    </div>
    <div class="post-header">
        <div class="post-header-left">
            <p class="post-title">
               제목: {{post.title}}
            </p>
            <a class="post-writer">
               작성자: {{post.writer}}
            </a>
            
        </div>
        <div class="post-header-right">
            <a class="post-date">
                작성일: {{post.date}}
             </a>
            <a class="post-view">
                조회 {{post.view}}
            </a>
        </div>
    </div>
    <div class="post-main-section">
        {{ post.content | safe}}
    </div>
    <div class="post-footer">
        <form method="post" name="like" action="/like">
            <p class="post-like">
                <button class="post-dolike">❤</button>{{post.like}}명이 이 게시글을 좋아합니다
            </p>
            <input type="hidden" value="{{post.pid}}" name="post" />
            <input type="hidden" value="{{pageNumber}}" name="pageNumber" />
        </form>
        <div class="post-comment-section">
            <h4> 댓글 </h4>
            {%if comments.length == 0%}
            <p>아직 댓글이 없습니다.</p>
            {% else %}
            {% for comment in comments %}
            <div class="comment">
                <div class="comment-header">
                    <a> {{comment.writer}}</a>
                    <a class="date"> {{comment.date}}</a>
                </div>
                <div class="comment-content">
                    {{comment.content}}
                </div>
            </div>
            {% endfor %}
            {% endif %}

            {% if isAuthenticated %}
            <div class="comment-input">
                <form class="comment-form" name="comment" method="post" action="/comment">
                    <textarea placeholder="댓글을 입력해 주세요." name="content"></textarea>
                    <input type="hidden" class="postid" value="{{post.pid}}" name="post" />
                    <input type="hidden" class="pageNumber" value="{{pageNumber}}" name="pageNumber" />
                    <button class="comment-write" type="submit">댓글쓰기</button>
                </form>
            </div>
            {% else %}
            <div class="comment-input">
                <form class="comment-form" name="comment" method="post" action="/comment">
                    <textarea placeholder="댓글을 등록하시려면 로그인해 주세요." name="content" readonly></textarea>
                </form>
            </div>
            {% endif %}
        </div>
        {% if post.writer == user or level > 1%}
        <button class="post-modify" type="button" onclick="location.href='/write/{{post.board}}/{{post.pid}}'">수정</button>
        <button class="post-delete" type="button">삭제</button>
        {% endif %}
        <button class="goto-list" type="button" onclick="location.href='/board/{{post.board}}/{{pageNumber}}'">목록</button>
    </div>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/post.js"></script>
{% endblock %}


